parameters:
    userpass:          userpass
    adminpass:         adminpass
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            ZqPfVTkkiIHPgXzp7leLq4orqEWMp7

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
